body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.logo-header-container {
  display: flex;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.trybewarts-login input {
  border: none;
  border-radius: 0.3em;
  width: 120px;
  padding: 5px;
  margin: 8px;
}

.trybewarts-login button {
  border: none;
  border-radius: 0.3em;
  width: 120px;
  padding: 5px;
  margin: 8px;
  color: white;
  background-color: rgb(38, 42, 52);
  cursor: pointer;
}

.trybewarts-login button:hover {
  background-color: rgb(68, 70, 77);
}

#trybewarts-header-title {
  text-align: center;
  color: white;
}

/* main */
main {
  display: flex;
  justify-content: space-between;
  margin: 100px 200px 100px 200px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  order: 1;
  padding: 20px;
  border: 2px solid rgb(50, 167, 145);
  border-radius: 0.5em;
  background-color: rgb(221, 243, 239);
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
  order: 2;
}

/* text inputs */
.name-lastname , .email-house {
  display: flex;
  flex-direction: row; 
}

.name-lastname input , .email-house input {
  width: 300px;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  margin: 8px;
}

.email-house select {
  width: 320px;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  margin: 8px;
  background-color: white;
}

/* radio buttons família */

.family-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* input checkboxes - o que vc quer aprender */
.learning-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* inputs radio buttons - como vc avalia a trybe... */
.rate-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/*input textarea 'deixe seu comentário...'*/
#textarea {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 98%;
  border: none;
  border-radius: 0.3em;  
  margin-bottom: 10px;
}

.textarea {
  margin: 10px;
}

/* input checkbox agreement */
.agreement-container {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* botão enviar */
#submit-btn {
  margin-left: 10px;
  background-color: rgb(50, 167, 145);
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  margin: 8px;
  color: white;
  cursor: pointer;
}

#submit-btn:disabled {
  margin-left: 10px;
  background-color: rgb(141, 182, 174);
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  margin: 8px;
  color: white;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;  
}