/* falta: > fonte > background */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.logo-header-container {
  display: flex;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.trybewarts-login input {
  border: none;
  border-radius: 0.3em;
  width: 120px;
  padding: 5px;
  margin: 8px;
}

.trybewarts-login button {
  border: none;
  border-radius: 0.3em;
  width: 120px;
  padding: 5px;
  margin: 8px;
  color: white;
  background-color: rgb(38, 42, 52);
  cursor: pointer;
}

.trybewarts-login button:hover {
  background-color: rgb(68, 70, 77);
}

#trybewarts-header-title {
  text-align: center;
  color: white;
}

/* main */
main {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

/* form main */
#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  order: 1;
  background-color: beige;
  justify-content: space-around;
  color: rgb(33, 99, 87);
  border: 2px solid rgb(50, 167, 145);
  border-radius: 0.5em;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
  order: 2;
}

.inputs-text-container {
  max-width: 60%;
  padding-top: 20px;
  padding-right: 20px;
}

.inputs-text-container [ type = 'text' ] {
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(50, 167, 145);
  border-radius: 0.3em;
}

.inputs-text-container #house {
  padding: 5px 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid rgb(50, 167, 145);
  border-radius: 0.3em;
  color: rgb(39, 102, 91);
}

.name-lastname , .email-house {
  display: flex;
  flex-direction: row;
}

.family-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 10px;
}

.learn-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 10px;
}

.rate-container {
  padding-left: 20px;
  margin-bottom: 10px;
}

.textarea-container {
  padding-left: 20px;
}

.textarea-container textarea {
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid rgb(50, 167, 145);
  border-radius: 0.3em;
  width: 380px;
}

.agreement-container {
  padding-left: 20px;
  margin-bottom: 10px;
}

.submit-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submit-btn {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 0.3em;
  width: 92%;
  margin-bottom: 20px;
  padding: 5px 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

